<template>
  <vue-markdown class="markdown"
    :source="source">
  </vue-markdown>

  <!-- <mailchimp-subscribe action="//taiwanwatch.us16.list-manage.com/subscribe/post?u=9ce1d5737b0d33699f537e078&amp;id=d79befd83e">
      </mailchimp-subscribe> -->

  <!-- <div id="mc_embed_signup">
        <form action="//taiwanwatch.us16.list-manage.com/subscribe/post?u=9ce1d5737b0d33699f537e078&amp;id=d79befd83e"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate"
          target="_blank"
          novalidate>
          <div id="mc_embed_signup_scroll">
            <h2>Subscribe to our mailing list</h2>
            <div class="indicates-required">
              <span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address
                <span class="asterisk">*</span>
              </label>
              <input type="email"
                value=""
                name="EMAIL"
                class="required email"
                id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
              <label for="mce-FNAME">First Name </label>
              <input type="text"
                value=""
                name="FNAME"
                class=""
                id="mce-FNAME">
            </div>
            <div class="mc-field-group">
              <label for="mce-LNAME">Last Name </label>
              <input type="text"
                value=""
                name="LNAME"
                class=""
                id="mce-LNAME">
            </div>
            <div id="mce-responses"
              class="clear">
              <div class="response"
                id="mce-error-response"
                style="display:none"></div>
              <div class="response"
                id="mce-success-response"
                style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;"
              aria-hidden="true"><input type="text"
                name="b_9ce1d5737b0d33699f537e078_d79befd83e"
                tabindex="-1"
                value=""></div>
            <div class="clear"><input type="submit"
                value="Subscribe"
                name="subscribe"
                id="mc-embedded-subscribe"
                class="button"></div>
          </div>
        </form>
      </div> -->
</template>

<script>
import VueMarkdown from 'vue-markdown'
import haha from '../docs/haha.md'

export default {
  data () {
    return {
      source: haha
    }
  },
  computed: {},
  methods: {},
  components: {
    'vue-markdown': VueMarkdown
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      // since this method will be called at a pretty early stage
      // while $store.state has been hydrated properly, we only
      // make the call when awsCredential is ready.
      if (vm.$store.getters.awsCredential.set) {
        vm.$store.dispatch('GET_DASHBOARD_INFO')
      }
    })
  }
}
</script>

<style lang="scss" scoped>
.markdown {
  text-align: left;
}
</style>
