<template>
  <div class="login">
    <p>authorized: {{ isAuthenticated }}</p>
    <Button @click="login">Login</Button>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  created () {
  },
  computed: {
    isAuthenticated () {
      return this.$store.state.isAuthenticated
    }
  },
  methods: {
    login () {
      const options = {
        scope: 'email, public_profile',
        return_scopes: true
      }

      this.$store.dispatch('FB_LOGIN', { options })
    }
  },
  components: {
  }
}
</script>

<style scoped lang="scss">
.login {
  position: relative;
}
</style>
