<template>
  <img class="avatar"
    :src="imgUrl ? imgUrl : defaultAvatar"
    :style="style" />
</template>

<script>
import defaultAvatar from '@/assets/images/defaultAvatar.png'

export default {
  props: {
    imgUrl: {
      type: String,
      required: true
    },
    size: {
      type: Number,
      default: 40
    }
  },
  data () {
    return {
      defaultAvatar
    }
  },
  computed: {
    style () {
      return `width: ${this.size}px; height: ${this.size}px;`
    }
  },
  methods: {
  },
  components: {
  }
}
</script>>

<style scoped lang="scss">
.avatar {
  border-radius: 50%;
  border: 2px solid #FFF;
}
</style>
