<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>Essential Links</h2>
    <ul>
      <li><a href="https://vuejs.org" target="_blank">Core Docs</a></li>
      <li><a href="https://forum.vuejs.org" target="_blank">Forum</a></li>
      <li><a href="https://gitter.im/vuejs/vue" target="_blank">Gitter Chat</a></li>
      <li><a href="https://twitter.com/vuejs" target="_blank">Twitter</a></li>
      <br>
      <li><a href="http://vuejs-templates.github.io/webpack/" target="_blank">Docs for This Template</a></li>
    </ul>
    <h2>Ecosystem {{ now() }}</h2>


    <input
      type="checkbox"
      v-model="toggle"
      true-value="a"
      false-value="b"
    >
    <p>{{ toggle }}</p>
    <CusTable></CusTable>

    <ul>
      <li><a href="http://router.vuejs.org/" target="_blank">vue-router</a></li>
      <li><a href="http://vuex.vuejs.org/" target="_blank">vuex</a></li>
      <li><a href="http://vue-loader.vuejs.org/" target="_blank">vue-loader</a></li>
      <li><a href="https://github.com/vuejs/awesome-vue" target="_blank">awesome-vue</a></li>
    </ul>
  </div>
</template>

<script>
import TableComp from '@/components/Table.vue'

export default {
  name: 'hello',
  data () {
    return {
      a: 'sdfdsf',
      b: 'dsfsdfds',
      msg: 'Taiwan Watch Volunteer Portal',
      toggle: ''
    }
  },
  beforeCreate () {
    console.log(this.$options.components)
  },
  methods: {
    now () {
      return Date.now()
    }
  },
  components: {
    CusTable: TableComp
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
