<template>
  <div class="container">
    <div class="pdfBlock">
      <Slider class="pfdPageSlider" v-model="currentPage" :min="1" :max="numPages" show-stops show-input></Slider>
      <pdf ref="pdf" :src="pdfUrl" class="pdfViewer" :page="currentPage" @numPages="numPages = $event"></pdf>
    </div>
    <div class="categorizeBlock">
      <!-- Category -->
      <div class="workBlock">
        <h3 class="title">Categories</h3>
        <div class="tagsSec">
          <Tag v-for="category in billCategories"
            :key="category.id"
            :name="category.id"
            @on-close="onCategoryDelete"
            type="dot"
            closable>{{ category.name }}</Tag>
        </div>
        <Row>
          <Col span="12">
            <Select v-model="selectedCategoryId" @on-change="onCategorySelect">
              <Option v-for="category in categories" :value="category.id" :key="category.id">{{ category.name }}</Option>
            </Select>
          </Col>
          <Col span="4" offset="1">
            <Button @click="onCategorySubmit" :loading="addCategoryFormSubmitting">Submit</Button>
          </Col>
        </Row>
      </div>
      <!-- Tags -->
      <div class="workBlock">
        <h3 class="title">Tags</h3>
        <Row>
          <Col span="12">
            <Button type="dashed" @click="handleTagAdd" icon="plus-round">Add item</Button>
          </Col>
        </Row>
      </div>
      <!-- Suggested Tags -->
      <div class="workBlock">
        <h3 class="title">Suggested tags</h3>
        <Row>
          <Col span="12">
            <Button type="dashed" @click="getKeywords" icon="ios-bolt">Show me</Button>
          </Col>
        </Row>
      </div>
    </div>
  </div>
</template>

<script>
import awsConfig from '@/../config/aws'
import pdf from 'vue-pdf'
import { waitForAwsCredsReady } from '@/api'

export default {
  props: {
    bill: { type: Object, required: false }
  },
  mounted () {
    waitForAwsCredsReady()
      .then(data => {
        this.resetTask()
      })
      .catch(error => {
        console.log(error)
      })
  },
  data () {
    return {
      currentPage: 1,
      numPages: 0,
      selectedCategoryId: '',
      tagTypes: [{ id: '0', name: 'people' }]
    }
  },
  computed: {
    categories () {
      return this.$store.state.billManagement.billCategories
    },
    billCategories () {
      return this.bill && this.bill.categories ? this.bill.categories : []
    },
    pdfUrl () {
      let url = ''
      if (this.bill && this.bill.versions) {
        let numOfVersions = this.bill.versions.length
        let latestVersion = this.bill.versions[numOfVersions - 1]
        let bucketKey = latestVersion.documents.filter(doc => doc.contentType === 'pdf')[0].bucketKey
        url = `${awsConfig.s3.urlPrefix}/${awsConfig.s3.billBucketName}/${bucketKey}`
      }
      console.log('url', url)
      return url
    },
    selectedBill () {
      return this.$store.state.billCategorize.selectedBill
    },
    selectedCategory () {
      if (!this.selectedCategoryId) {
        return ''
      }
      return this.categories.filter(category => category.id === this.selectedCategoryId)[0]
    },
    addCategoryFormSubmitting () {
      return this.$store.state.billManagement.addCategoryFormSubmitting
    },
    submitButtonText () {
      return this.$store.state.billManagement.addCategoryFormSubmitting
        ? this.$t('billManagement.createBill.modalSubmitingBtnLabel')
        : this.$t('billManagement.createBill.modalSubmitBtnLabel')
    }
  },
  methods: {
    resetTask () {
      this.currentPage = 1
      this.selectedCategoryId = ''
      this.$store.dispatch('GET_BILL_CATEGORIES')
    },
    onCategorySelect () {
      console.log(this.selectedCategoryId)
    },
    onCategorySubmit () {
      if (!this.selectedCategoryId) {
        this.$Notice.error({
          title: 'Cannot proceed',
          desc: 'Please select a category'
        })
        return
      }
      this.$store.dispatch('ADD_CATEGORY', { category: this.selectedCategory, billId: this.bill.id })
    },
    onCategoryDelete (event, name) {
      this.$store.dispatch('REMOVE_CATEGORY', { categoryId: name, billId: this.bill.id })
    },
    handleTagAdd () {
      this.index++
      this.categorizeBillForm.tags.push({
        name: ''
      })
    },
    handleTagRemove (index) {
      this.categorizeBillForm.tags.splice(index, 1)
    },
    getKeywords () {
      this.$store.dispatch('GET_BILL_KEYWORDS', { pdfUrl: this.pdfUrl })
    }
  },
  components: {
    pdf
  }
}
</script>


<style lang="scss" scoped>
.container {
  display: flex;
}

.pdfBlock {
  flex: 1;
  margin-right: 40px;
  min-width: 600px;

  .pfdPageSlider {
    padding-bottom: 10px;
  }

  .pdfViewer {
    border: 1px solid #dddee1;
  }
}

.categorizeBlock {
  width: 600px;

  .workBlock {
    margin-bottom: 40px;

    .title {
      margin-bottom: 20px;
    }
  }
}

.tagsSec {
  margin-bottom: 10px;
}
</style>
