<template>
  <div class="table">
    <div class="tableToolbar">
      <Button class="refreshBtn" icon="refresh" @click="refreshTable">
        <span>Refresh</span>
      </Button>
    </div>
    <Table highlight-row ref="table"
      :data="bills"
      :columns="tableColumns"
      :loading="loading"
      @on-row-click="onRowClick">
    </Table>
    <Alert class="tableAlert" show-icon>The table may need some time to reflect the latest changes</Alert>
  </div>
</template>

<script>
import { waitForAwsCredsReady } from '@/api'
import {
  getSelectCol,
  getCongressCol,
  getBillCodeCol,
  getTitleCol,
  getVersionsCol,
  getLastUpdatedCol
} from '../helper/tableColRenders'

export default {
  props: {
    bills: {
      type: Array,
      required: true
    }
  },
  mounted () {
    waitForAwsCredsReady()
      .then(data => {
        this.resetTask()
      })
      .catch(error => {
        console.log(error)
      })
  },
  data () {
    return {
      selectedTableRowIndex: null
    }
  },
  computed: {
    tableColumns () {
      let vm = this
      return [
        getSelectCol(vm),
        getCongressCol(vm),
        getBillCodeCol(vm),
        getTitleCol(vm),
        getVersionsCol(vm),
        getLastUpdatedCol(vm)
      ]
    },
    loading () {
      return this.$store.state.billManagement.billsLoading
    }
  },
  methods: {
    resetTask () {
      this.$store.commit('RESET_BILLS', {})
      this.$store.dispatch('GET_BILLS')
      this.selectedTableRowIndex = null
      this.$refs.table.clearCurrentRow()
    },
    refreshTable () {
      waitForAwsCredsReady()
        .then(data => {
          this.resetTask()
        })
        .catch(error => {
          console.log(error)
        })
    },
    onRowClick (row, index) {
      this.selectedTableRowIndex = index
      console.log(row)
      this.$store.commit('SET_BILLCATEGORIZE_SELECTEDBILL', { selectedBill: row })
    }
  }
}
</script>


<style lang="scss" scoped>
.table {
  max-width: 900px;
  margin: 0 auto;
}

.tableToolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .refreshBtn {
    margin-left: auto;
  }
}
.tableAlert {
  margin: 10px 0 0 0;
}
</style>

<style lang="scss">
.tableBillTitleCol > .ivu-table-cell {
  padding: 18px;
}
.tableRowSelect .ivu-icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  &.selected {
    border: 1px solid #2d8cf0;
    background-color: #2d8cf0;
    color: #fff;
  }

  &.unselected {
    border: 1px solid #999;
    color: #999;
  }
}
</style>
