<template>
  <div class="pageWrapper">
    <Steps :current="currentStep" status="wait" class="steps">
      <Step :title="$t('billCategorize.steps.selectBillStepTitle')" :content="$t('billCategorize.steps.selectBillStepDescription')"></Step>
      <Step :title="$t('billCategorize.steps.categorizeBillStepTitle')" :content="$t('billCategorize.steps.versionDatePlaceholder')"></Step>
    </Steps>
    <!-- Step 1 -->
    <div class="step1Content content" v-show="currentStep === 0">
      <SelectBillStep ref="step1" :bills="bills"></SelectBillStep>
    </div>
    <!-- Step 2 -->
    <div class="step2Content content" v-show="currentStep === 1">
      <CategorizeBillStep ref="step2" :bill="selectedBill"></CategorizeBillStep>
    </div>
    <!-- Next Step Button -->
    <Button class="nextBtn" type="primary" size="large" @click="next" :disabled="isNextBtnDisabled">{{ nextBtnText }}</Button>
  </div>
</template>

<script>
import { waitForAwsCredsReady } from '@/api'
import SelectBillStep from './SelectBillStep'
import CategorizeBillStep from './CategorizeBillStep'

export default {
  mounted () {
    waitForAwsCredsReady()
      .then(data => {
        this.resetTask()
      })
      .catch(error => {
        console.log(error)
      })
  },
  data () {
    return {
      currentStep: 0,
      totalSteps: 2
    }
  },
  computed: {
    bills () {
      return this.$store.state.billManagement.bills
    },
    nextBtnText () {
      if (this.currentStep < this.totalSteps - 1) {
        return 'Next'
      }
      return 'Done'
    },
    isNextBtnDisabled () {
      // step 1: need to select a bill to pass
      if (this.currentStep === 0 && this.selectedBill) {
        return false
      }
      // step 2: categorize bill
      if (this.currentStep === 1) {
        return false
      }
      return true
    },
    selectedBill () {
      return this.$store.state.billCategorize.selectedBill
    }
  },
  methods: {
    next () {
      if (this.selectedBill && !this.selectedBill.versions) {
        this.$Notice.error({
          title: 'Cannot proceed',
          desc: 'Selected bill does not have any document uploaded'
        })
        return
      }
      if (this.currentStep <= this.totalSteps) {
        this.currentStep += 1
      }
      if (this.currentStep === this.totalSteps) {
        this.resetTask()
      }
    },
    resetTask () {
      this.$store.commit('RESET_BILLCATEGORIZE_TASK', {})
      this.$refs.step1.resetTask()
      this.$refs.step2.resetTask()
      this.currentStep = 0
    }
  },
  components: {
    SelectBillStep,
    CategorizeBillStep
  }
}
</script>


<style lang="scss" scoped>
.pageWrapper {
  // max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.steps {
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
}
.content {
  margin-top: 50px;
  text-align: left;
}
.nextBtn {
  margin-top: 50px;
}
code {
  background-color: #f7f7f7;
  padding: 15px;
  margin: 20px 0;
  display: block;
  border-radius: 5px;
}
.downloadTitle {
  font-size: 20px;
  font-weight: 400;
  color: #464c5b;
}
.downloadLink {
  font-size: 14px;
}
.card {
  margin: 20px auto;
}
.alert {
  text-align: left;
}
</style>

<style lang="scss">
.tableBillTitleCol > .ivu-table-cell {
  padding: 18px;
}
.tableRowSelect .ivu-icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  &.selected {
    border: 1px solid #2d8cf0;
    background-color: #2d8cf0;
    color: #fff;
  }

  &.unselected {
    border: 1px solid #999;
    color: #999;
  }
}
</style>
