<template>
  <vue-markdown class="markdown"
    :source="source">
  </vue-markdown>
</template>

<script>
import VueMarkdown from 'vue-markdown'

export default {
  data () {
    return {
      source: ''
    }
  },
  created () {
    this.loadTutorial()
  },
  watch: {
    locale () {
      this.loadTutorial()
    }
  },
  computed: {
    locale () {
      return this.$i18n.locale
    }
  },
  methods: {
    loadTutorial () {
      let that = this
      let tutorial = import('@/modules/BillDownload/docs/' + this.locale + '/tutorial.md')
      tutorial.then(data => {
        that.$set(that, 'source', data)
      })
    }
  },
  components: {
    'vue-markdown': VueMarkdown
  }
}
</script>

<style lang="scss" scoped>

</style>
