<template>
  <div class="pageWrapper">
    <Steps :current="current" status="wait" class="steps">
      <Step title="選擇法案" content="選擇一個要處理的法案"></Step>
      <Step title="下載PDF檔" content="下載法案各版本PDF檔"></Step>
      <Step title="上傳" content="上傳法案各版本PDF檔到資料庫"></Step>
    </Steps>
    <!-- Step 1 -->
    <div class="step1Content content" v-show="current === 0">
      <div class="tableToolbar">
        <Button class="refreshBtn" icon="refresh" @click="refreshTable">
          <span>Refresh</span>
        </Button>
      </div>
      <Table highlight-row ref="table"
        :data="bills"
        :columns="tableColumns"
        :loading="loading"
        @on-row-click="onRowClick">
      </Table>
      <Alert class="tableAlert" show-icon>The table may need some time to reflect the latest changes</Alert>
    </div>
    <!-- Step 2 -->
    <div class="step2Content content" v-show="current === 1">
      <h2 class="downloadTitle">Click the link to download</h2>
      <code><a class="downloadLink" :href="downloadLink" target="_blank">{{ downloadLink }}</a></code>
      <Alert show-icon class="alert">
        Link not working?
        <template slot="desc">
          If the link provided is not valid, maybe the bill is too old. Please <a :href="reportEmailAddr" target="_top">report to us</a>, and we will have people handle it.
        </template>
      </Alert>
    </div>
    <!-- Step 3 -->
    <div class="step3Content content" v-show="current >= 2">
      <Form ref="billTextPdfForm" :model="billTextPdfForm">
        <Row>
          <Col span="12">
            <!-- Bill Version -->
            <FormItem
              :label="$t('billDownload.uploadBillText.billVersionLabel')"
              prop="version.id"
              :rules="{required: true, message: 'this field is required', trigger: 'blur'}">
              <Select
                v-model="billTextPdfForm.version.id"
                @on-change="onBillVersionSelected"
                style="width: 250px"
                :placeholder="$t('billDownload.uploadBillText.billVersionPlaceholder')">
                <Option v-for="version in billVersions" :value="version.id" :key="version.id">{{ version.name }}</Option>
              </Select>
            </FormItem>
          </Col>
          <Col span="12">
            <!-- Version Date -->
            <FormItem
              :label="$t('billDownload.uploadBillText.versionDateLabel')"
              prop="versionDate"
              :rules="{required: true, type: 'date', message: 'this field is required', trigger: 'blur'}">
              <DatePicker
                v-model="billTextPdfForm.versionDate"
                type="date"
                @on-change="onBillVersionDateSelected"
                :clearable="false"
                style="width: 250px"
                :placeholder="$t('billDownload.uploadBillText.versionDatePlaceholder')"
                :options="billVersionDateOptions"></DatePicker>
            </FormItem>
          </Col>
        </Row>
      </Form>
      <Dropzone ref="dropzone"></Dropzone>
    </div>
    <!-- Next Step Button -->
    <Button class="nextBtn" type="primary" size="large" @click="next" :disabled="isNextBtnDisabled" :loading="isFileUploading">{{ nextBtnText }}</Button>
  </div>
</template>

<script>
import { waitForAwsCredsReady } from '@/api'
import Dropzone from '@/components/Dropzone'
import {
  getSelectCol,
  getCongressCol,
  getBillCodeCol,
  getTitleCol,
  getVersionsCol,
  getLastUpdatedCol
} from '../helper/tableColRenders'

export default {
  data () {
    return {
      current: 0,
      selectedTableRowIndex: null,
      totalSteps: 3,
      formLabelWidth: 90,
      billTextPdfForm: {
        versionDate: '',
        version: {
          id: ''
        }
      },
      billVersionDateOptions: {
        disabledDate (date) {
          // cannot select a future date
          return date && date.valueOf() > Date.now()
        }
      }
    }
  },
  mounted () {
    waitForAwsCredsReady()
      .then(data => {
        this.resetTask()
      })
      .catch(error => {
        console.log(error)
      })
  },
  computed: {
    locale () {
      return this.$i18n.locale
    },
    loading () {
      return this.$store.state.billManagement.billsLoading
    },
    bills () {
      return this.$store.state.billManagement.bills
    },
    billVersions () {
      return this.$store.state.billManagement.billVersions
    },
    tableColumns () {
      let vm = this
      return [
        getSelectCol(vm),
        getCongressCol(vm),
        getBillCodeCol(vm),
        getTitleCol(vm),
        getVersionsCol(vm),
        getLastUpdatedCol(vm)
      ]
    },
    nextBtnText () {
      if (this.current < 2) {
        return 'Next'
      }
      if (this.current === 2) {
        return 'Submit'
      }
      if (this.current === 3 && !this.isFileUploading) {
        return 'Done'
      }
      if (this.current === 3 && this.isFileUploading) {
        return 'Uploading'
      }
      return 'Finished'
    },
    isNextBtnDisabled () {
      // step 1: need to select a bill to pass
      if (this.current === 0 && this.selectedBill) {
        return false
      }
      // step 2: always enabled
      if (this.current === 1) {
        return false
      }
      // step 3: need to select a file
      if (this.current === 2 && this.selectedFiles.length > 0) {
        return false
      }
      // after upload
      if (this.current === 3) {
        return false
      }

      return true
    },
    isFileUploading () {
      return this.$store.state.billDownload.fileUploading
    },
    selectedBill () {
      return this.$store.state.billDownload.selectedBill
    },
    selectedFiles () {
      return this.$store.state.billDownload.selectedFiles
    },
    downloadLink () {
      let link = `you haven't selected a bill to start`
      if (this.selectedBill && this.selectedBill.billType) {
        let type = {
          s: 'senate-bill',
          hr: 'house-bill',
          sres: 'senate-resolution',
          hres: 'house-resolution',
          sjres: 'senate-joint-resolution',
          hjres: 'house-joint-resolution',
          sconres: 'senate-concurrent-resolution',
          hconres: 'house-concurrent-resolution'
        }[this.selectedBill.billType.code]
        link = `https://www.congress.gov/bill/${this.selectedBill.congress}th-congress/${type}/${this.selectedBill
          .billNumber}/text`
      }
      return link
    },
    reportEmailAddr () {
      let addr = 'mailto:jerry.hsu@taiwanwatch.org'
      if (this.selectedBill && this.selectedBill.billType) {
        let subject = `Cannot find bill PDF download link - Congress: ${this.selectedBill.congress} / Bill type: ${this
          .selectedBill.billType.display} / Bill number: ${this.selectedBill.billNumber}`
        addr = `mailto:jerry.hsu@taiwanwatch.org?Subject=${encodeURI(subject)}`
      }
      return addr
    }
  },
  watch: {
    selectedBill (newValue, oldValue) {
      // check version and version date has been selected
      if (newValue && newValue.billVersion && newValue.versionDate) {
        this.$refs.dropzone.enable()
      } else {
        this.$refs.dropzone.disable()
      }
    }
  },
  methods: {
    resetTask () {
      this.$store.commit('RESET_BILLS', {})
      this.$store.commit('RESET_BILLDOWNLOAD_TASK', {})
      this.$store.dispatch('GET_BILLS')
      this.$store.dispatch('GET_BILL_VERSIONS')
      this.current = 0
      this.selectedTableRowIndex = null
      this.$refs.billTextPdfForm.resetFields()
      this.$refs.table.clearCurrentRow()
      this.$refs.dropzone.removeAllFiles()
      this.$refs.dropzone.disable()
    },
    refreshTable () {
      waitForAwsCredsReady()
        .then(data => {
          this.resetTask()
        })
        .catch(error => {
          console.log(error)
        })
    },
    next () {
      if (this.current <= this.totalSteps) {
        this.current += 1
      }
      if (this.current === this.totalSteps) {
        this.$refs.dropzone.submit()
      }
      if (this.current === this.totalSteps + 1) {
        this.resetTask()
      }
    },
    onRowClick (row, index) {
      this.selectedTableRowIndex = index
      console.log(row)
      this.$store.commit('SET_BILLDOWNLOAD_SELECTEDBILL', { selectedBill: row })
    },
    onBillVersionSelected (selectedVersionId) {
      let selectedVersion = this.$store.state.billManagement.billVersions.filter(
        version => version.id === selectedVersionId
      )[0]
      this.$store.commit('SET_BILLDOWNLOAD_SELECTEDBILL', {
        selectedBill: { ...this.selectedBill, billVersion: selectedVersion }
      })
    },
    onBillVersionDateSelected (selectedVersionDate) {
      this.$store.commit('SET_BILLDOWNLOAD_SELECTEDBILL', {
        selectedBill: { ...this.selectedBill, versionDate: selectedVersionDate }
      })
    }
  },
  components: {
    Dropzone
  }
}
</script>

<style lang="scss" scoped>
.pageWrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.steps {
  text-align: left;
}
.tableToolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .refreshBtn {
    margin-left: auto;
  }
}
.tableAlert {
  margin: 10px 0 0 0;
}
.content {
  margin-top: 50px;
  text-align: left;
}
.nextBtn {
  margin-top: 50px;
}
code {
  background-color: #f7f7f7;
  padding: 15px;
  margin: 20px 0;
  display: block;
  border-radius: 5px;
}
.downloadTitle {
  font-size: 20px;
  font-weight: 400;
  color: #464c5b;
}
.downloadLink {
  font-size: 14px;
}
.alert {
  text-align: left;
}
</style>

<style lang="scss">
.tableBillTitleCol > .ivu-table-cell {
  padding: 18px;
}
.tableRowSelect .ivu-icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  &.selected {
    border: 1px solid #2d8cf0;
    background-color: #2d8cf0;
    color: #fff;
  }

  &.unselected {
    border: 1px solid #999;
    color: #999;
  }
}
</style>
