<template>
  <div class="langSwitch">
    <a class="locale"
    href="javascript:void(0);"
    v-for="locale in locales"
    :key="locale"
    :class="{ active: $i18n.locale === locale }"
    @click="$i18n.locale = locale">{{ $t('locales.' + locale) }}</a>
  </div>
</template>

<script>
export default {
  data () {
    return {
      locales: ['en-US', 'zh-TW']
    }
  }
}
</script>>

<style scoped lang="scss">
.langSwitch {
  width: 60px;

  .locale {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      font-weight: 500;
      border-bottom: 1px solid #2d8cf0;
    }
  }
}
</style>
