<template>
  <router-link class="logo" to="/" @click.native="onLogoClick">
    <img class="logo-img" :src="logo" />
    <span class="logo-text">TAIWAN WATCH</span>
  </router-link>
</template>

<script>
import logo from '@/assets/tw-logo.png'

export default {
  data () {
    return {
      logo
    }
  },
  methods: {
    onLogoClick (event) {
      this.$emit('click', event)
    }
  }
}
</script>>

<style scoped lang="scss">
@import 'src/assets/styles/app';

.logo {
  width: 200px;
  height: 40px;
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  display: block;
}

.logo-text {
  color: white;
  margin-left: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}

@media screen and (max-width: #{$largeDeviceWidth}) {
  .logo {
    margin-right: auto;
  }
}
</style>
