<template>
  <div class="user">
    <div class="photo">
      <Avatar :imgUrl="userInfo.imgUrl"
        :size="avatarSize"></Avatar>
    </div>
    <!-- <div class="info">
      <span class="userName">{{ userInfo.name }}</span>
      <Button class="logoutBtn"
        size="small"
        type="primary"
        icon="log-out"
        @click="logout"
        v-if="isAuthenticated">{{ $t('userInfoSection.logoutBtnText') }}</Button>
    </div> -->
  </div>
</template>

<script>
import Avatar from '@/components/Avatar'
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      avatarSize: 40
    }
  },
  computed: {
    isAuthenticated () {
      return this.$store.state.isAuthenticated
    },
    ...mapGetters(['userInfo'])
  },
  methods: {
    logout () {
      this.$store.dispatch('FB_LOGOUT')
    }
  },
  components: {
    Avatar
  }
}
</script>>

<style scoped lang="scss">
.user {
  display: flex;
  width: 60px;
  align-items: center;

  .photo {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info {
    text-align: left;

    .userName {
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .logoutBtn {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
</style>
