<template>
  <Modal width="600" title="Add co-sponsor" v-model="showModal" @on-cancel="onCancel" class-name="vertical-center-modal">
    <Row>
      <Col span="24">
        <h3>{{ this.selectedBill ? this.selectedBill.title : '' }}</h3>
      </Col>
    </Row>
    <br>
    <Row>
      <Col span="24">
        <Select
          ref="coSponsorSelect"
          v-model="cosponsors"
          filterable
          multiple
          clearable
          remote
          :remote-method="getCoSponsorSuggestList"
          :loading="coSponsorSuggestListLoading">
          <Option v-for="(coSponsor, index) in coSponsorSuggestList" :label="`${coSponsor.person.firstname} ${coSponsor.person.lastname}`" :value="coSponsor.id" :key="index">
            <span class="coSponsorName">{{`${coSponsor.person.firstname} ${coSponsor.person.lastname}`}} </span>
            <span class="coSponsorParty">({{ coSponsor.party }})</span>
            <span class="coSponsorMembership">{{ $t('billManagement.createBill.sponsorMembershipText', [{
              representative: $t('billManagement.createBill.houseDisplayName'),
              senator: $t('billManagement.createBill.senateDisplayName')
            }[coSponsor.roleType]])}} </span>
          </Option>
        </Select>
      </Col>
    </Row>
    <div slot="footer">
      <Button @click="onCancel">{{ $t('billManagement.createBill.modalCancelBtnLabel') }}</Button>
      <Button @click="formSubmit" :loading="addCoSponsorFormSubmitting">{{ this.submitButtonText }}</Button>
    </div>
  </Modal>
</template>

<script>
import _ from 'lodash'

export default {
  props: {
    show: Boolean,
    selectedBill: Object
  },
  data () {
    return {
      formLabelWidth: 100,
      cosponsors: []
    }
  },
  computed: {
    coSponsorSuggestList () {
      return this.$store.state.billManagement.coSponsorSuggestList
    },
    coSponsorSuggestListLoading () {
      return this.$store.state.billManagement.coSponsorSuggestListLoading
    },
    addCoSponsorFormSubmitting () {
      return this.$store.state.billManagement.addCoSponsorFormSubmitting
    },
    submitButtonText () {
      return this.$store.state.billManagement.addCoSponsorFormSubmitting
        ? this.$t('billManagement.createBill.modalSubmitingBtnLabel')
        : this.$t('billManagement.createBill.modalSubmitBtnLabel')
    },
    showModal: {
      get () {
        return this.show
      },
      set (v) {
        this.$emit('close', v)
      }
    }
  },
  methods: {
    getCoSponsorSuggestList: _.debounce(function (query) {
      if (query !== '') {
        this.$store.dispatch('GET_COSPONSOR_SUGGEST_LIST', { query })
      } else {
        this.$store.commit('SET_COSPONSOR_SUGGEST_LIST', { coSponsorSuggestList: [] })
      }
    }, 500),
    formSubmit () {
      this.$store.dispatch('UPDATE_COSPONSORS', { cosponsors: this.cosponsors, billId: this.selectedBill.id })
    },
    onCancel () {
      this.showModal = false
    }
  }
}
</script>

<style lang="scss" scoped>
.coSponsorName {
  font-weight: 500;
}
.coSponsorParty {
  font-weight: 500;
  margin-right: 10px;
}
</style>
