<template>
  <Modal width="600" :title="$t('billManagement.createBill.modalTitle')" v-model="showModal" @on-cancel="formReset('createBillForm')" class-name="vertical-center-modal">
    <Form ref="createBillForm" :model="createBillForm">
      <Row>
        <Col span="24">
          <!-- Title -->
          <FormItem
            :label="$t('billManagement.createBill.formTitleLabel')"
            :label-width="formLabelWidth"
            prop="title"
            :rules="{required: true, message: $t('billManagement.createBill.formTitleRequiredErrMsg'), trigger: 'blur'}">
              <Input v-model="createBillForm.title" :placeholder="$t('billManagement.createBill.formTitlePlaceholder')"></Input>
          </FormItem>
        </Col>
      </Row>
      <Row>
        <Col span="8">
          <!-- Congress -->
          <FormItem
            :label="$t('billManagement.createBill.formCongressLabel')"
            :label-width="formLabelWidth"
            prop="congress"
            :rules="{required: true, type: 'number', trigger: 'blur'}">
              <InputNumber :max="currentCongress" :min="1" v-model="createBillForm.congress"></InputNumber>
          </FormItem>
        </Col>
        <Col span="7">
          <!-- Bill Number -->
          <FormItem
            :label="$t('billManagement.createBill.formBillNumberLabel')"
            :label-width="formLabelWidth"
            prop="billNumber"
            :rules="{required: true, type: 'number', trigger: 'blur'}">
              <InputNumber :min="1" v-model="createBillForm.billNumber"></InputNumber>
          </FormItem>
        </Col>
        <Col span="9">
          <!-- Bill Type -->
          <FormItem
            :label="$t('billManagement.createBill.formBillTypeLabel')"
            :label-width="formLabelWidth"
            prop="billType.id"
            :rules="{required: true, message: $t('billManagement.createBill.formBillTypeRequiredErrMsg'), trigger: 'blur'}">
            <Select
              v-model="createBillForm.billType.id"
              :placeholder="$t('billManagement.createBill.formBillTypePlaceholder')">
              <Option v-for="billType in billTypes" :value="billType.id" :key="billType.id">{{ billType.display }}</Option>
            </Select>
          </FormItem>
        </Col>
      </Row>
      <Row>
        <Col span="24">
          <!-- Sponsor -->
          <FormItem
            :label="$t('billManagement.createBill.formSponsorLabel')"
            :label-width="formLabelWidth"
            prop="sponsor.id"
            :rules="{required: true, message: $t('billManagement.createBill.formSponsorRequiredErrMsg'), trigger: 'blur'}">
            <Select
              ref="sponsorSelect"
              v-model="createBillForm.sponsor.id"
              :placeholder="$t('billManagement.createBill.formSponsorPlaceholder')"
              filterable
              clearable
              remote
              :remote-method="getSponsorSuggestList"
              :loading="sponsorSuggestListLoading">
              <Option v-for="(sponsor, index) in sponsorSuggestList" :label="`${sponsor.person.firstname} ${sponsor.person.lastname}`" :value="sponsor.id" :key="index">
                <span class="sponsorName">{{`${sponsor.person.firstname} ${sponsor.person.lastname}`}} </span>
                <span class="sponsorParty">({{ sponsor.party }})</span>
                <span class="sponsorMembership">{{ $t('billManagement.createBill.sponsorMembershipText', [{
                  representative: $t('billManagement.createBill.houseDisplayName'),
                  senator: $t('billManagement.createBill.senateDisplayName')
                }[sponsor.roleType]])}} </span>
              </Option>
            </Select>
          </FormItem>
        </Col>
      </Row>
      <Row>
        <Col span="24">
          <!-- Introduced Date -->
          <FormItem
            :label="$t('billManagement.createBill.formIntroDateLabel')"
            :label-width="formLabelWidth"
            prop="introducedDate"
            :rules="{required: true, type: 'date', message: $t('billManagement.createBill.formIntroDateRequiredErrMsg'), trigger: 'blur'}">
            <DatePicker
              v-model="createBillForm.introducedDate"
              type="date"
              style="width: 250px"
              :placeholder="$t('billManagement.createBill.formIntroDatePlaceholder')"
              :options="billIntroDateOptions"></DatePicker>
          </FormItem>
        </Col>
      </Row>
    </Form>
    <div slot="footer">
      <Button @click="formReset('createBillForm')">{{ $t('billManagement.createBill.modalCancelBtnLabel') }}</Button>
      <Button @click="formSubmit('createBillForm')" :loading="createBillFormSubmitting">{{ this.submitButtonText }}</Button>
    </div>
  </Modal>
</template>

<script>
import _ from 'lodash'

export default {
  props: {
    show: Boolean
  },
  data () {
    return {
      formLabelWidth: 90,
      currentCongress: 115,
      billIntroDateOptions: {
        disabledDate (date) {
          // cannot select a future date
          return date && date.valueOf() > Date.now()
        }
      },
      createBillForm: {
        title: '',
        congress: 115,
        billNumber: 1,
        billType: {
          id: ''
        },
        sponsor: {
          id: ''
        },
        introducedDate: ''
      }
    }
  },
  computed: {
    billTypes () {
      return this.$store.state.billManagement.billTypes
    },
    billActions () {
      return this.$store.state.billManagement.billActions
    },
    sponsorSuggestList () {
      return this.$store.state.billManagement.sponsorSuggestList
    },
    sponsorSuggestListLoading () {
      return this.$store.state.billManagement.sponsorSuggestListLoading
    },
    createBillFormSubmitting () {
      return this.$store.state.billManagement.createBillFormSubmitting
    },
    submitButtonText () {
      return this.$store.state.billManagement.createBillFormSubmitting
        ? this.$t('billManagement.createBill.modalSubmitingBtnLabel')
        : this.$t('billManagement.createBill.modalSubmitBtnLabel')
    },
    showModal: {
      get () {
        return this.show
      },
      set (v) {
        this.$emit('close', v)
      }
    }
  },
  methods: {
    getSponsorSuggestList: _.debounce(function (query) {
      if (query !== '') {
        this.$store.dispatch('GET_SPONSOR_SUGGEST_LIST', { query })
      } else {
        this.$store.commit('SET_SPONSOR_SUGGEST_LIST', { sponsorSuggestList: [] })
      }
    }, 500),
    formSubmit (name) {
      this.$refs[name].validate(valid => {
        if (valid) {
          // success
          this.$store.dispatch('CREATE_BILL', { bill: this.normalizeBillObj(this.createBillForm) })
        } else {
          // fail
        }
      })
    },
    normalizeBillObj (bill) {
      let normalizedBill = { ...bill }
      // add lastUpdated
      normalizedBill.lastUpdated = this.formatDate(normalizedBill.introducedDate)
      normalizedBill.introducedDate = this.formatDate(normalizedBill.introducedDate)
      // add sponsor
      const selectedSponsor = this.sponsorSuggestList.filter(sponsor => sponsor.id === normalizedBill.sponsor.id)[0]
      normalizedBill.sponsor = selectedSponsor
      // add bill type
      const selectedBillType = this.billTypes.filter(type => type.id === normalizedBill.billType.id)[0]
      normalizedBill.billType = selectedBillType
      // add current chamber
      normalizedBill.currentChamber = selectedBillType.chamber
      // add action
      const initialActionName = {
        house: 'Introduced in House',
        senate: 'Introduced in Senate'
      }[selectedBillType.chamber]
      const initialAction = this.billActions.filter(action => action.name === initialActionName)[0]
      const billInitialAction = {
        ...initialAction,
        date: normalizedBill.lastUpdated,
        description: 'the initial action'
      }
      normalizedBill.actions = [billInitialAction]
      return normalizedBill
    },
    formatDate (sDate) {
      let date = new Date(sDate)
      const y = date.getFullYear()
      let m = date.getMonth() + 1
      m = m < 10 ? '0' + m : m
      let d = date.getDate()
      d = d < 10 ? '0' + d : d
      return y + '-' + m + '-' + d
    },
    formReset (name) {
      this.$refs[name].resetFields()
      this.showModal = false
    }
  }
}
</script>

<style lang="scss" scoped>
.sponsorName {
  font-weight: 500;
}
.sponsorParty {
  font-weight: 500;
  margin-right: 10px;
}
</style>
