<template>
  <Modal width="600" :title="$t('billManagement.createBill.modalTitle')" v-model="showModal" @on-cancel="formReset('createBillForm')" class-name="vertical-center-modal">
    <Form ref="createBillForm" :model="createBillForm">
      <Row>
        <Col span="24">
          <!-- Title -->
          <FormItem
            :label="$t('billManagement.createBill.formTitleLabel')"
            :label-width="formLabelWidth"
            prop="billTitle"
            :rules="{required: true, message: $t('billManagement.createBill.formTitleRequiredErrMsg'), trigger: 'blur'}">
              <Input v-model="createBillForm.billTitle" :placeholder="$t('billManagement.createBill.formTitlePlaceholder')"></Input>
          </FormItem>
        </Col>
      </Row>
      <Row>
        <Col span="8">
          <!-- Congress -->
          <FormItem
            :label="$t('billManagement.createBill.formCongressLabel')"
            :label-width="formLabelWidth"
            prop="billCongress"
            :rules="{required: true, type: 'number', trigger: 'blur'}">
              <InputNumber :max="currentCongress" :min="1" v-model="createBillForm.billCongress"></InputNumber>
          </FormItem>
        </Col>
        <Col span="7">
          <!-- Bill Number -->
          <FormItem
            :label="$t('billManagement.createBill.formBillNumberLabel')"
            :label-width="formLabelWidth"
            prop="billNumber"
            :rules="{required: true, type: 'number', trigger: 'blur'}">
              <InputNumber :min="1" v-model="createBillForm.billNumber"></InputNumber>
          </FormItem>
        </Col>
        <Col span="9">
          <!-- Bill Type -->
          <FormItem
            :label="$t('billManagement.createBill.formBillTypeLabel')"
            :label-width="formLabelWidth"
            prop="billType"
            :rules="{required: true, message: $t('billManagement.createBill.formBillTypeRequiredErrMsg'), trigger: 'blur'}">
            <Select v-model="createBillForm.billType" :placeholder="$t('billManagement.createBill.formBillTypePlaceholder')">
              <Option v-for="billType in billTypes" :value="billType.value" :key="billType.value">{{ billType.label }}</Option>
            </Select>
          </FormItem>
        </Col>
      </Row>
      <Row>
        <Col span="24">
          <!-- Sponsor -->
          <FormItem
            :label="$t('billManagement.createBill.formSponsorLabel')"
            :label-width="formLabelWidth"
            prop="sponsor"
            :rules="{required: true, message: $t('billManagement.createBill.formSponsorRequiredErrMsg'), trigger: 'blur'}">
            <Select
              ref="sponsorSelect"
              v-model="createBillForm.sponsor"
              :placeholder="$t('billManagement.createBill.formSponsorPlaceholder')"
              filterable
              clearable
              remote
              :remote-method="getSponsorSuggestList"
              :loading="sponsorSuggestListLoading">
              <Option v-for="(sponsor, index) in sponsorsSuggestList" :value="sponsor.id" :key="index">{{ sponsor.name }}</Option>
            </Select>
          </FormItem>
        </Col>
      </Row>
      <Row v-for="(item, index) in createBillForm.billActions" :key="index">
        <Col span="16">
          <!-- Bill Action Type -->
          <FormItem
            :label-width="formLabelWidth"
            :label="$t('billManagement.createBill.formActionLabel') + ' ' + (index + 1)"
            :prop="'billActions.' + index + '.type'"
            :rules="{required: true, message: $t('billManagement.createBill.formActionTypeRequiredErrMsg'), trigger: 'blur'}">
            <Select v-model="item.type" :placeholder="$t('billManagement.createBill.formActionTypePlaceholder')">
              <Option v-for="billType in billTypes" :value="billType.value" :key="billType.value">{{ billType.label }}</Option>
            </Select>
          </FormItem>
        </Col>
        <Col span="7" offset="1">
          <!-- Bill Action Date -->
          <FormItem
            :label-width="0"
            :prop="'billActions.' + index + '.date'"
            :rules="{required: true, message: $t('billManagement.createBill.formActionDateRequiredErrMsg'), trigger: 'blur'}">
            <DatePicker type="date" :placeholder="$t('billManagement.createBill.formActionDatePlaceholder')" :options="billActionDateOptions" v-model="item.date"></DatePicker>
          </FormItem>
        </Col>
        <Col span="2" offset="1">
          <Button type="dashed" v-show="index > 0" icon="trash-a" shape="circle" @click="handleRemove(index)"></Button>
        </Col>
      </Row>
      <Row>
        <Col span="12">
          <!-- Add Bill Action Btn -->
          <FormItem :label-width="formLabelWidth">
            <Button type="dashed" long @click="onBillActionAdded" icon="plus-round">{{ $t('billManagement.createBill.formAddBillActionBtnLabel') }}</Button>
          </FormItem>
        </Col>
      </Row>
    </Form>
    <div slot="footer">
      <Button size="large" @click="formReset('createBillForm')">{{ $t('billManagement.createBill.modalCancelBtnLabel') }}</Button>
      <Button size="large" @click="formSubmit('createBillForm')">{{ $t('billManagement.createBill.modalSubmitBtnLabel') }}</Button>
    </div>
  </Modal>
</template>

<script>
import _ from 'lodash'

export default {
  props: {
    show: Boolean
  },
  data () {
    const defaultBillActionObj = { type: '', date: '', description: '' }
    return {
      formLabelWidth: 90,
      currentCongress: 115,
      billActionDateOptions: {
        disabledDate (date) {
          // cannot select a future date
          return date && date.valueOf() > Date.now()
        }
      },
      defaultBillActionObj,
      createBillForm: {
        billTitle: '',
        billCongress: 115,
        billNumber: 1,
        billType: '',
        billActions: [{ ...defaultBillActionObj }],
        sponsor: ''
      }
    }
  },
  computed: {
    billTypes () {
      return this.$store.state.billManagement.billTypes.map(billType => {
        return { value: billType.code, label: billType.display }
      })
    },
    sponsorsSuggestList () {
      return this.$store.state.billManagement.sponsorSuggestList.map(sponsor => {
        return { id: sponsor.id, name: `${sponsor.person.firstname} ${sponsor.person.lastname}` }
      })
    },
    sponsorSuggestListLoading () {
      return this.$store.state.billManagement.sponsorSuggestListLoading
    },
    showModal: {
      get () {
        return this.show
      },
      set (v) {
        this.$emit('close', v)
      }
    }
  },
  methods: {
    getSponsorSuggestList: _.debounce(function (query) {
      if (query !== '') {
        this.$store.dispatch('GET_SPONSOR_SUGGEST_LIST', { query })
      } else {
        this.$store.commit('SET_SPONSOR_SUGGEST_LIST', { sponsorSuggestList: [] })
      }
    }, 500),
    onBillActionAdded () {
      this.createBillForm.billActions.push({ ...this.defaultBillActionObj })
    },
    handleRemove (index) {
      this.createBillForm.billActions.splice(index, 1)
    },
    formSubmit (name) {
      this.$refs[name].validate(valid => {
        if (valid) {
          // success
        } else {
          // fail
        }
      })
    },
    formReset (name) {
      this.$refs[name].resetFields()
      this.createBillForm.billActions = [{ ...this.defaultBillActionObj }]
      this.showModal = false
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
