<template>
  <div class="pageWrapper">
    <div class="tableToolbar">
      <Button class="createBillBtn" icon="plus" @click="onCreateBill">{{ $t('billManagement.button.createBillBtnText') }}</Button>
      <Button class="addCoSponsorBtn" icon="plus" @click="onAddCoSponsor">{{ $t('billManagement.button.addCoSponsorBtnText') }}</Button>
      <Button class="refreshBtn" icon="refresh" @click="refreshTable">{{ $t('billManagement.button.refreshTableBtnText') }}</Button>
    </div>
    <CreateBillModal :show="showCreateBillModal" @close="showCreateBillModal = false"></CreateBillModal>
    <AddCoSponsorModal :show="showAddCoSponsorModal" :selectedBill="selectedBill" @close="showAddCoSponsorModal = false"></AddCoSponsorModal>
    <Table highlight-row ref="table"
      :data="bills"
      :columns="tableColumns"
      :loading="loading"
      @on-row-click="onRowClick">
    </Table>
  </div>
</template>

<script>
import { waitForAwsCredsReady } from '@/api'
import CreateBillModal from './CreateBillModal'
import AddCoSponsorModal from './AddCoSponsorModal'
import {
  getSelectCol,
  getCongressCol,
  getBillCodeCol,
  getTitleCol,
  getChamberCol,
  getLastUpdatedCol
} from '../helper/tableColRenders'

export default {
  data () {
    return {
      selectedTableRowIndex: null,
      showCreateBillModal: false,
      showAddCoSponsorModal: false,
      formItem: {
        input: '',
        select: '',
        radio: 'male',
        checkbox: [],
        switch: true,
        date: '',
        time: '',
        slider: [20, 50],
        textarea: ''
      }
    }
  },
  created () {
    console.log('i am created')
  },
  mounted () {
    waitForAwsCredsReady()
      .then(data => {
        this.resetTask()
      })
      .catch(error => {
        console.log(error)
      })
  },
  computed: {
    locale () {
      return this.$i18n.locale
    },
    loading () {
      return this.$store.state.billManagement.billsLoading
    },
    bills () {
      return this.$store.state.billManagement.bills
    },
    tableColumns () {
      let vm = this
      return [
        getSelectCol(vm),
        getCongressCol(vm),
        getBillCodeCol(vm),
        getTitleCol(vm),
        getChamberCol(vm),
        getLastUpdatedCol(vm)
      ]
    },
    selectedBill () {
      return this.$store.state.billManagement.selectedBill
    }
  },
  methods: {
    onCreateBill () {
      this.showCreateBillModal = true
    },
    onAddCoSponsor (event) {
      if (!this.selectedBill) {
        this.$Notice.error({
          title: 'Cannot proceed',
          desc: 'Please select a bill first'
        })
        return
      }
      this.showAddCoSponsorModal = true
    },
    refreshTable () {
      waitForAwsCredsReady()
        .then(data => {
          this.resetTask()
        })
        .catch(error => {
          console.log(error)
        })
    },
    resetTask () {
      this.selectedTableRowIndex = null
      this.$store.commit('RESET_BILLMANAGEMENT_TASK', {})
      this.$store.dispatch('GET_BILL_TYPES')
      this.$store.dispatch('GET_BILL_ACTIONS')
      this.$store.dispatch('GET_BILLS')
    },
    onRowClick (row, index) {
      this.selectedTableRowIndex = index
      this.$store.commit('SET_SELECTEDBILL', { selectedBill: row })
    }
  },
  components: {
    CreateBillModal,
    AddCoSponsorModal
  }
}
</script>

<style lang="scss" scoped>
.pageWrapper {
  padding: 20px;
}
.tableToolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .createBillBtn {
    margin-right: 10px;
  }

  .refreshBtn {
    margin-left: auto;
  }
}
</style>

<style lang="scss">
.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .ivu-modal {
    top: 0;
  }
}
.tableBillTitleCol > .ivu-table-cell {
  padding: 18px;
}
.tableRowSelect .ivu-icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  &.selected {
    border: 1px solid #2d8cf0;
    background-color: #2d8cf0;
    color: #fff;
  }

  &.unselected {
    border: 1px solid #999;
    color: #999;
  }
}
</style>
