<template>
  <div id="app">
    <Spin fix
      v-if="authenticating">
      <Icon type="load-c"
        size=40
        class="demo-spin-icon-load"></Icon>
      <div class="auth-text">Loading</div>
    </Spin>
    <router-view v-else></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  computed: {
    authenticating () {
      return this.$store.state.authenticating
    }
  }
}
</script>

<style scoped lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

.demo-spin-icon-load {
  margin-bottom: 10px;
  animation: ani-demo-spin 1s linear infinite;
}

@keyframes ani-demo-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auth-text {
  font-size: 20px;
}
</style>
